.user {
  position: relative;
  float: right;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.email {
  font-weight: 400;
  font-size: 14px;
}

.logout {
  width: 20px;
  height: 20px;
  position: relative;
}

.iconLogout {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.info {
  position: absolute;
  opacity: 0;
  bottom: -12px;
  right: 0;
  font-weight: 400;
  font-size: 10px;
  transition: opacity 100ms ease-in;
}

.iconLogout:focus ~ .info,
.iconLogout:hover ~ .info {
  opacity: 1;
}
