.form {
  width: 600px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  border: 1px solid black;
  padding: 20px;
}
.label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.input {
  width: 50%;
  min-width: 300px;
  padding: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.02em;
}
.button {
  display: block;
  box-sizing: border-box;
  padding: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.02em;
}
